Repository nnsi/ai-assistant-scheduler: changes, and which lefthook commands are due for each by the changed paths.
All: backend-typecheck, backend-test, frontend-typecheck, frontend-test, shared-typecheck, shared-test

backend-typecheck:
  run: pnpm --filter backend typecheck

backend-test:
  run: pnpm --filter backend test -- --run

frontend-typecheck:
  run: pnpm --filter frontend typecheck

frontend-test:
  run: pnpm --filter frontend test -- --run

shared-typecheck:
  run: pnpm typecheck

shared-test:
  run: pnpm test -- --run

📝 Lefthook設定の日記を追加
  docs/diary/20260106.md
Due: none

🔧 ci.ymlをPRのみに限定し、deploy.ymlとの重複を解消
  .github/workflows/ci.yml
Due: none

🔧 deploy.ymlのciジョブから不要なbuildステップを削除
  .github/workflows/deploy.yml
Due: none

📝 CI重複解消の日記を追記
  docs/diary/20260106.md
Due: none

✨ カレンダー機能Phase1実装（編集・終日・週/日表示）+ カテゴリDBスキーマ
  docs/calendar-feature-roadmap.md
  docs/diary/20260107.md
  packages/backend/drizzle/0006_add_all_day_flag.sql
  packages/backend/drizzle/0007_add_categories.sql
  packages/backend/src/domain/model/schedule.ts
  packages/backend/src/feature/schedule/usecase/getScheduleById.test.ts
  packages/backend/src/feature/schedule/usecase/getSchedules.test.ts
  packages/backend/src/infra/drizzle/scheduleRepo.ts
  packages/backend/src/infra/drizzle/schema.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Calendar/CalendarDayView.tsx
  packages/frontend/src/components/Calendar/CalendarHeader.tsx
  packages/frontend/src/components/Calendar/CalendarWeekView.tsx
  packages/frontend/src/components/Schedule/ScheduleDetail.tsx
  packages/frontend/src/components/Schedule/ScheduleEditModal.tsx
  packages/frontend/src/components/Schedule/ScheduleForm.tsx
  packages/frontend/src/components/Schedule/ScheduleFormModal.tsx
  packages/frontend/src/lib/date.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas/category.ts
  packages/shared/src/schemas/schedule.ts
Due: backend-typecheck, backend-test, frontend-typecheck, frontend-test, shared-typecheck, shared-test

✅
  packages/backend/src/test/helpers.ts
Due: backend-typecheck, backend-test

💄
  docs/diary/20260108.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Auth/LoginPage.tsx
  packages/frontend/src/components/Auth/ProfileSettingsModal.tsx
  packages/frontend/src/components/Calendar/Calendar.tsx
  packages/frontend/src/components/Calendar/CalendarDay.tsx
  packages/frontend/src/components/Calendar/CalendarDayView.tsx
  packages/frontend/src/components/Calendar/CalendarHeader.tsx
  packages/frontend/src/components/Calendar/CalendarWeekView.tsx
  packages/frontend/src/components/Schedule/ScheduleDetail.tsx
  packages/frontend/src/components/Schedule/ScheduleForm.tsx
  packages/frontend/src/components/common/Button.tsx
  packages/frontend/src/components/common/Modal.tsx
  packages/frontend/src/index.css
  packages/frontend/tailwind.config.ts
Due: frontend-typecheck, frontend-test

✅
  packages/frontend/src/hooks/useSchedules.test.tsx
Due: frontend-typecheck, frontend-test

📝 マルチユーザーカレンダー共有機能の設計ドキュメント追加
  docs/multi-user-scheduling/design.md
  docs/multi-user-scheduling/tasks.md
Due: none

📝 レビュー結果を反映して設計ドキュメントを改善
  docs/multi-user-scheduling/design.md
  docs/multi-user-scheduling/review.md
Due: none

📝 第2回レビュー結果を反映して設計ドキュメントを改善
  docs/multi-user-scheduling/design.md
  docs/multi-user-scheduling/review.md
Due: none

🔥 公開カレンダー機能を設計から削除
  docs/multi-user-scheduling/design.md
Due: none

📝 第3回レビュー結果を反映
  docs/multi-user-scheduling/design.md
  docs/multi-user-scheduling/review.md
  docs/multi-user-scheduling/tasks.md
Due: none

📝 日記追記: マルチユーザーカレンダー共有設計セッション
  docs/diary/20260108.md
Due: none

📝 日記追記: マルチユーザーカレンダー共有機能 Phase 1-9 実装セッション
  docs/diary/20260108.md
Due: none

fix: E2Eテストをマルチユーザーカレンダー対応に修正
  packages/frontend/e2e/ai-flow.spec.ts
  packages/frontend/e2e/auth-flow.spec.ts
  packages/frontend/e2e/schedule-crud.spec.ts
  packages/frontend/e2e/schedule.spec.ts
  packages/frontend/e2e/test-constants.ts
Due: frontend-typecheck, frontend-test

📝 日記追記: E2Eテストメンテナンスセッション
  docs/diary/20260108.md
Due: none

docs: 日記から抽出したパターンをCLAUDE.mdとスキルに反映
  .claude/skills/code-review/SKILL.md
  .claude/skills/e2e-test-maintenance/SKILL.md
  .claude/skills/security-audit/SKILL.md
  .claude/skills/write-diary/SKILL.md
  CLAUDE.md
Due: none

fix: security-auditスキルでBashツール利用可能に修正
  .claude/skills/security-audit/SKILL.md
Due: none

📝 日記追記: ドキュメント整理と日記パターン抽出セッション
  docs/diary/20260108.md
Due: none

tidy
  docs/feature/first-release/design.md
  docs/feature/first-release/design/README.md
  docs/feature/first-release/design/backend.md
  docs/feature/first-release/design/frontend.md
  docs/feature/first-release/design/infra.md
  docs/feature/first-release/implementation-plan-past-data-integration.md
  docs/feature/first-release/redesign.md
  docs/feature/first-release/requirements.md
  docs/feature/first-release/review/20251231.md
  docs/feature/first-release/review/20251231_codex.md
  docs/feature/first-release/review/20260102.md
  docs/feature/first-release/review/security-report-2nd.md
  docs/feature/first-release/review/security-report.md
  docs/feature/first-release/tasks.md
  docs/feature/first-release/todo.md
  docs/feature/first-release/way-to-production.md
  docs/feature/multi-user-scheduling/design.md
  docs/feature/multi-user-scheduling/review.md
  docs/feature/multi-user-scheduling/tasks.md
Due: none

✨
  .claude/skills/write-diary/SKILL.md
  docs/diary/20260109.md
  docs/feature/first-release/calendar-feature-roadmap-review.md
  docs/feature/first-release/calendar-feature-roadmap.md
  packages/backend/drizzle/0010_add_agent_types.sql
  packages/backend/src/domain/model/supplement.ts
  packages/backend/src/feature/ai/route.ts
  packages/backend/src/feature/ai/usecase/saveSupplement.ts
  packages/backend/src/feature/ai/usecase/searchAndSave.ts
  packages/backend/src/feature/ai/usecase/searchWithKeywords.ts
  packages/backend/src/feature/schedule/usecase/getScheduleById.test.ts
  packages/backend/src/infra/drizzle/schema.ts
  packages/backend/src/infra/drizzle/supplementRepo.ts
  packages/backend/src/test/helpers.ts
  packages/frontend/src/hooks/useAI.test.ts
  packages/frontend/src/hooks/useAI.ts
  packages/frontend/src/lib/api.ts
  packages/shared/src/schemas/supplement.ts
Due: backend-typecheck, backend-test, frontend-typecheck, frontend-test, shared-typecheck, shared-test

docs: README.mdを機能紹介・技術スタック・セットアップ手順で更新
  README.md
Due: none

📝 日記追記: README.md更新セッション
  docs/diary/20260109.md
Due: none

docs: 認証バイパスにcurl実例とX-Dev-Authヘッダーを追記
  README.md
Due: none

💄
  docs/diary/20260110.md
  packages/frontend/src/components/AI/KeywordSuggestions.tsx
  packages/frontend/src/components/AI/SearchResults.tsx
  packages/frontend/src/components/Profile/ConditionsModal.tsx
  packages/frontend/src/components/Schedule/ScheduleDetail.tsx
  packages/frontend/src/components/Schedule/ScheduleForm.tsx
  packages/frontend/src/components/Schedule/SchedulePopup.tsx
  packages/frontend/src/components/common/Button.tsx
  packages/frontend/src/components/common/MarkdownRenderer.tsx
Due: frontend-typecheck, frontend-test

💄
  docs/diary/20260110.md
  packages/frontend/e2e/schedule-crud.spec.ts
  packages/frontend/src/components/Calendar/CalendarDayView.tsx
  packages/frontend/src/components/Calendar/CalendarWeekView.tsx
  packages/frontend/src/components/Schedule/ScheduleForm.tsx
Due: frontend-typecheck, frontend-test

💄
  docs/diary/20260110.md
  packages/frontend/src/components/Calendar/CalendarDayView.tsx
  packages/frontend/src/components/Calendar/CalendarWeekView.tsx
  packages/frontend/src/components/Schedule/ScheduleDetail.tsx
Due: frontend-typecheck, frontend-test

💄
  docs/diary/20260110.md
  packages/frontend/src/components/Calendar/CalendarDayView.tsx
  packages/frontend/src/components/Calendar/CalendarWeekView.tsx
Due: frontend-typecheck, frontend-test

💄
  packages/frontend/src/components/Schedule/ScheduleDetail.tsx
Due: frontend-typecheck, frontend-test

📝
  docs/diary/20260110.md
Due: none

🐛
  docs/diary/20260110.md
  packages/backend/src/domain/model/supplement.ts
  packages/backend/src/feature/schedule/usecase/getScheduleById.ts
  packages/backend/src/feature/supplement/route.integration.test.ts
  packages/backend/src/feature/supplement/usecase/updateMemo.ts
Due: backend-typecheck, backend-test

📝
  docs/diary/20260110.md
  docs/extensible-review.md
Due: none

♻️ リファクタリング Phase 1-3: TanStack Router導入、モーダル状態管理改善、グローバルエラーハンドラ
  docs/feature/refactoring-1/extensible-review.md
  docs/feature/refactoring-1/tasks.md
  packages/backend/src/index.ts
  packages/backend/src/shared/errors.ts
  packages/frontend/e2e/ai-flow.spec.ts
  packages/frontend/e2e/auth-flow.spec.ts
  packages/frontend/e2e/schedule-crud.spec.ts
  packages/frontend/package.json
  packages/frontend/src/components/MainApp.tsx
  packages/frontend/src/hooks/useModalManager.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/router.tsx
  pnpm-lock.yaml
Due: backend-typecheck, backend-test, frontend-typecheck, frontend-test

Add extensibility evaluation report (2026-01-10)
  docs/feature/refactoring-1/extensibility-evaluation-20260110.md
Due: none

Add Phase 2 task list based on extensibility evaluation
  docs/feature/refactoring-1/tasks-phase2.md
Due: none

Implement Phase 2 refactoring tasks
  docs/diary/20260110-2.md
  docs/feature/refactoring-1/tasks-phase2.md
  packages/backend/src/infra/mastra/aiService.ts
  packages/backend/src/shared/aiOutputParser.ts
  packages/backend/src/test/generateDDL.ts
  packages/backend/src/test/helpers.ts
  packages/frontend/src/components/common/Checkbox.tsx
  packages/frontend/src/components/common/FormField.tsx
  packages/frontend/src/components/common/Input.tsx
  packages/frontend/src/components/common/Select.tsx
  packages/frontend/src/components/common/index.ts
  packages/frontend/src/lib/errorHandler.ts
Due: backend-typecheck, backend-test, frontend-typecheck, frontend-test

Path conditions:
  backend-typecheck: any of: packages/backend/**/*.ts
  backend-test: any of: packages/backend/**/*.ts
  frontend-typecheck: any of: packages/frontend/**/*.{ts,tsx}
  frontend-test: any of: packages/frontend/**/*.{ts,tsx}
  shared-typecheck: any of: packages/shared/**/*.ts
  shared-test: any of: packages/shared/**/*.ts
